<h3><p style="border:3px; border-style:solid; border-color:#BDA0CB; padding: 1em;">Oopsies! A mistake was made. Time to edit!</p></h3>

<img src="https://media1.tenor.com/images/d3db2251496c034939206aedeb304386/tenor.gif?itemid=5827691" alt="dizzy_anime_gif">

<form method="post" action="/animes/<%= @anime.id %>">
<input type="hidden" id="hidden" name="_method" value="patch">
    Anime:
    <input type="text" name="name" value="<%=@anime.name%>"><br>

 <label for="status">Status:</label>

<select name="status" id="status" value="<%=@anime.status%>">

 <% if @anime.status == "On-Hold" %>
   <option value="On-Hold" selected>On-Hold</option>
 <option value="Completed">Completed</option>
  <option value="Dropped">Dropped</option>
  <option value="Currently Watching">Currently Watching</option>

  <% elsif  @anime.status == "Completed" %>

<option value="Completed" selected>Completed</option>
  <option value="On-Hold">On-Hold</option>
  <option value="Dropped">Dropped</option>
  <option value="Currently Watching">Currently Watching</option>

  <% elsif @anime.status == "Dropped"%>

  <option value="Dropped" selected>Dropped</option>
<option value="Completed">Completed</option>
  <option value="On-Hold">On-Hold</option>
  <option value="Currently Watching">Currently Watching</option>

  <% elsif @anime.status == "Currently Watching" %>

  <option value="Currently Watching" selected>Currently Watching</option>
 <option value="Completed">Completed</option>
  <option value="On-Hold">On-Hold</option>
  <option value="Dropped">Dropped</option>

 <% end %>

  </select><br>

  <label for="rating">Rating:</label>

<%
options = [
  [10, '10 (Masterpiece)'],
  [9, '9 (Great)'],
  [8, '8 (Very Good)'],
  [7, '7 (Good)'],
  [6, '6 (Fine)'],
  [5, '5 (Average)'],
  [4, '4 (Bad)'],
  [3, '3 (Very Bad)'],
  [2, '2 (Horrible)'],
  [1, '1 (Appalling)']
]
%>

<select name="rating" id="rating" value="<%= @anime.rating %>">
<% options.each do |option| %>
  <option value="<%= option[0].to_s %>"<%= @anime.rating == option[0] ? ' selected' : '' %> ><%= option[1] %></option>
<% end %>
</select><br>


 
    Edit Your Anime:

    <input type="submit" value="Edit Anime">

  </form>
  <a href="/animes/<%=@anime.id%>">Previous</a>