<h1>Hello, <%=@user.username%></h1>
<h3>Your Anime List!</h3>

<% flash_types.select{ |kind| flash.has?(kind) }.each do |kind| %>
<div class="flash <%= kind %>">
  <h3><p style="border:3px; border-style:solid; border-color:#FF0000; padding: 1em; color:#FF0000";><%= flash[kind] %></p></h3>
</div>
<% end %>

<% @animes.each do |anime| %>
<p style="border:3px; border-style:solid; border-color:#BDA0CB; padding: 1em;">  <%= anime.name %>
  (Watch Status: <%=anime.status%>)
  (Rating: <%=anime.rating%>)
    <a href="/animes/<%=anime.id%>">View anime</a></p>

    <% end %><br>

<a href="/animes/new">New Anime</a><br>
 <a href="/logout">Log Out</a><br>