<!DOCTYPE html>
<html>
<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>
<body style="background-color:lavender;">

<h2><p>Hello, <%= current_user.username %></p></h2>

<img src="https://pa1.narvii.com/6304/8a03ef0b76ee40b008454a24bc312848759b70aa_hq.gif" alt="come_here_anime_gif">

<h2>Anime Details:</h2>
<h5>Anime Name:<%= @anime.name%></h5>
<h5>Anime Rating:<%= @anime.rating %></h5>
<h5>Anime Watch Status:<%= @anime.status %></h5>

  <form method="post" action="/animes/<%=@anime.id%>">
<input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Anime">
  </form>
  <br>
  <a href="/animes/<%=@anime.id%>/edit">Edit Anime</a><br>
      <a href="/animes">Back</a>
</body>
</html>